extends layout

block content
  h1= title
  p Levis California
  button(type="button",onclick="update()" class="btn btn-success") Press Me
  div(id="bump") 
    i Bump the count
  script. 
    var count = 0;
    var bump = 1;
    function doBump(){
      count = count + bump;
      bump = bump + 1;
      document.getElementById("bump").innerHTML="Count "+count+" with bump "+bump;
    }
     a(href="liguid") Info about liquidmeals
